<!-- 
    index.html
    written by Alex Shandilis

    It is highly recommended that you visit the documentation at 
    https://www.w3schools.com/html if you wish to learn more about the 
    different components that make up the code here.
    
    TODO: (recommended readings)
        1. div component: https://www.w3schools.com/tags/tag_div.asp
        2. selector components: https://www.w3schools.com/tags/tag_select.asp
        3. HTML buttons: https://www.w3schools.com/tags/tag_button.asp
        4. textarea component: https://www.w3schools.com/tags/tag_textarea.asp

    These are just some of the components that are used to build this website.
    Feel free to explore w3schools and other resources to learn more!

 -->

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>📑MDST Translator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        The Official MDST Translator 1.1
    </header>
    <div id="container">
        <div id="io_head">
            <div id="selector">
                Translate
                <select class="input">
                    <option value="Detect">Detect</option>
                    <option value="German">German</option>
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                </select>
                to
                <select class="output">
                    <option value="Spanish">Spanish</option>
                    <option value="English">English</option>
                    <option value="German">German</option>
                </select>

            </div>
        </div>
        <div id="io_center">
            <div id="input">
                <div class="options_bar">
                    <button onclick="speak(input.value)">
                        speak!
                    </button>
                    <button onclick="getTranslation(input.value)">
                        translate!
                    </button>
                    <button onclick="swap()">
                        swap!
                    </button>
                </div>
                <textarea placeholder="translate something..."></textarea>
            </div>
            <div id="output">
            </div>
            </div>
        </div>
    </div>
    <script src="static/main.js"></script>
</body>